* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #009961;
}

a:hover {
    color: #00cc81;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

ul,
ol {
    list-style-type: none;
}


/*  preloder start*/

.preloder{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999;
}



.preloder img{
 left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
}





/*  preloder end*/




/*menu section start*/

.navbar-light .navbar-nav .nav-link {
    color: #dedede;
    margin-right: 36px;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:after {
    position: absolute;
    content: '';
    width: 62%;
    height: 2px;
    background: #00cccc;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.navbar-light .navbar-nav .nav-link:hover:after{
   opacity: 1;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color:#00cccc;
}



.navbar-light .navbar-nav .nav-link.active:after {
    opacity: 1;
}




.top_menu_btn {
    border: 1px solid  #338a33;
    padding: 8px 26px;
    border-radius: 50px;
    font-size: 14px;
    margin-left: 40px;
    background: #338a33;
    color: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
}


.top_menu_btn:hover {
    background: #00B371;
    border: 1px solid  #00B371;
}


.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid #827d7d;
    transition: all 0.5s ease;
}

.menu_bar_icon{
    margin-left: 5px;
}


.nav_bg{
    background: #827d7d;
    
}










/*menu section end*/

/*banner part start*/

#banner {
    background: url(../img/banner_bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 200px 0px;
    position: relative;
}

#banner:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(41, 44, 44, 0.5);

}

.banner_part {
    position: relative;
    z-index: 99;
    color: #fff;
}

.banner_part h2 {
    font-size: 55px;
    font-weight: bold;
    padding: 0px 191px;
    margin-bottom: 20px;
}

.banner_part p {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}


.vedio_icon {
    margin-top: 49px;
    width: 94px;
    height: 94px;
    background: radial-gradient(#009961 50%, rgba(0, 153, 97, 0.4) 52%);
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.vedio_icon::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 3s;
    animation: pulsate-btn 3s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(0, 153, 97, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.vedio_icon::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


.vedio_icon:hover::after {
    border-left: 15px solid #009961;
    transform: scale(20);

}

}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.8, 0.8);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/*banner part end*/


/*aboute part start*/


#aboute {
    padding: 70px 0px;
}


.aboute_top h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 51px;
    position: relative;
}


.aboute_top h2:after {
    position: absolute;
    content: '';
    width: 6%;
    height: 3px;
    background: #00B371;
    top: 55px;
    left: 0;
}

.aboute_top p {
    font-size: 14;
    font-size: 14px;
    padding-bottom: 20px;
}


.aboute_right a {
    border: 2px solid #00B371;
    padding: 7px 34px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.aboute_right a:hover {
    color: #fff;
    background: #00B371;
    border: #00B371;
}

.aboute_icon {
    margin-right: 10px;
    color: #00B371;
}


/*aboute part end*/

/*service part start*/
#service {
    padding: 70px 0px;
}

.service_top h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 40px;
    position: relative
}

.service_top h2:after {
    position: absolute;
    content: '';
    width: 6%;
    height: 3px;
    background: #00B371;
    top: 55px;
    left: 0;
}

.service_top p {
    font-size: 14px;
}

.card_icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: green;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 25px;
}

.my_body h2 {
    font-size: 26px;
    font-weight: bold;
    padding: 17px 0px;
}

.my_body h2:hover {
    color: #00B371;
}

.my_body {
    display: inline-block;
    padding: 50px 15px;
}

.my_body p {
    font-size: 14px;
}

.card_design {
    border: none;
    box-shadow: 0px 0px 3px -1px #b9b9b9;
    margin-top: 40px;
}

.service_card {
    transition: all 1s ease;
}

.service_card:hover {
    background-color: #00B371;
    border-radius: 14px;
}

.service_card :hover {
    transform: translateY(-7px);

}

/*service part end*/


/*call part start*/


#call {
/*    background: url(../img/call_banner.jpg);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 100px 0px;
}

#call:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(41 40 40 / 50%);
}

.call_part_left,
.call_part_right {
    position: relative;
    z-index: 99;
    color: #fff;
}

.call_part_left h2 {
    font-size: 32px;
    font-weight: bold;
}

.call_part_left p {
    font-size: 16px;
    line-height: 160%;
}


.call_part_right a {
    border: 2px solid #0a9663;
    padding: 9px 40px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 20px;
    transition: all 0.5s ease;
    background: #0a9663;
    color: #fff;
    font-size: 14px;
}

.call_part_right a:hover {
    color: #fff;
    background: #00B371;
    border: 2px solid #00B371;
}

/*call part end*/

/*add part start*/

#add {
    padding: 30px 0px;
}

.add_left h4 {
    font-size: 22px;
    font-weight: bold;
    padding-left: 70px;
}

.add_left p {
    padding-left: 69px;
    margin-bottom: 45px;
}

.add_icon {
    font-size: 40px;
    color: green;
    margin-right: 16px;
    position: absolute;
    padding-top: 10lpx;
    padding-top: 9px;
    display: block;
}

.add_right img {
    margin-top: 53px;
}

/*add part end*/

/*logo part start*/
#logo {
    padding: 40px 0px;
}

.logo_part {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    background: #fff;
    height: 140px;
}

.logo_border {
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}

.logo_part img :hover {
    transform: scale(1, 1);
}

.logo_part img {
    transition: all 0.5s ease;
}

.logo_part img:hover {
    transform: scale(1.5, 1.5);
}

/*logo part end*/


/*number counter part start*/

#counter {
/*    background: url(../img/counter_bg.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 70px 0px;
}

#counter:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(5, 5, 5, 0.7);

}

.counter_index {
    position: relative;
    z-index: 99;

}

.conunter_part h2 {
    font-size: 36px;
    color: #00B371;
    z-index: 99;
    font-weight: bold;
}

.conunter_part h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 50px;
}



.col_half {
    width: 49%;
}

.col_third {
    width: 32%;
}

.col_fourth {
    width: 23.5%;
}

.col_fifth {
    width: 18.4%;
}

.col_sixth {
    width: 15%;
}

.col_three_fourth {
    width: 74.5%;
}

.col_twothird {
    width: 66%;
}

.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth {
    position: relative;
    display: inline;
    display: inline-block;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}

.end {
    margin-right: 0 !important;
}

/* Column Grids End */

.wrapper {
    width: 980px;
    margin: 30px auto;
    position: relative;
}

.counter {
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #fff;
}



/*number counter part end*/

/*protfoio start*/
.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 40, 0.8);
}

.shutter-lock {
    transform: translateZ(0);
    position: relative;
}

.shutter-lock:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: #00cccc;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.shutter-lock:hover:after {
    width: 100%;
}

.title {
    text-transform: uppercase;
}

.title strong {
    font-weight: 900;
}

.slider-btn {
    font-weight: 700;
}

.parallax {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -999;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.more {
    text-align: center;
}

.more a {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 2px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.more a:hover {
    box-shadow: 0px 0px 5px #00cccc;
}


.work {
    padding: 80px 0px;
}

.work-title {
    padding-bottom: 40px;
    position: relative;
    text-transform: capitalize;
}

.work-title:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 3px;
    background: #00cccc;
    top: 50px;
    left: 0;
}

.counter_text p {
    font-size: 14px;
    margin-bottom: 30px;
}


.portfolio-controllers-container {
    margin-bottom: 30px;
    text-align: center;
}

.portfolio-controllers {
    padding: 0px;
    height: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    transition: all 0.5s ease;
}


.portfolio-controllers .filter-btn {
    float: left;
    padding: 10px 15px;
    border: 1px solid #00cccc;
    outline: 0px;
    margin: 0px 15px 15px 0px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.more-container {
    margin-top: 40px;
}

.portfolio {
    padding: 14px 7px;
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}

.portfolio-image img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
}

.portfolio-image:hover img {
    transform: scale(1.2);
    cursor: pointer;
}

.portfolio-image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(34, 35, 40, 0.5);
}

.work .caption {
    width: 100%;
    height: 48%;
    position: absolute;
    top: 119px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
    transform: scale(1.2);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 10px;
    z-index: 999;
}

.caption-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.portfolio-image:hover .caption {
    opacity: 1;
    transform: scale(1);
}

.caption-content {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.portfolio-link {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.portfolio-link li {
    float: left;
    margin-right: 5px;
}

.portfolio-link li a i {
    font-size: 25px;
    border-radius: 2px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.portfolio-link li a i.fa-link {
    padding: 10px 15px;
}

.portfolio-link li a i.fa-plus {
    padding: 10px 17px;
}

.portfolio-item-title {
    width: 90%;
    height: 40px;
    overflow: hidden;
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
}

.portfolio-item-title:after {
    position: absolute;
    bottom: 0;
    left: 35%;
    content: '';
    width: 30%;
    height: 2px;
}

.footer-bottom p {
    text-align: center;
}

/*Xtra Large*/
@media (min-width: 1200px) {}

/*Medium Device*/
@media(min-width:992px) {}

/*Small Device*/
@media(min-width:768px) {}

/*Xtra Small Device*/
@media(max-width:767px) {

    .portfolio-controllers .filter-btn {
        margin-bottom: 15px;
        padding: 10px 12px;
        margin-left: 10px;
    }
}


/*protfoio end*/


/*color css start*/
.more a {
    background-color: #00cccc;
    color: #fff;
}


.work {
    background-color: #f9f9f9;
}

.portfolio-controllers .btn-default {
    color: #808080;
}

.portfolio-controllers .filter-btn {
    background-color: transparent;
    color: #222;
    border-color: #00cccc;
    border-radius: 50px;
    padding: 7px 25px;
}

.portfolio-controllers .filter-btn.active-work {
    color: #00cccc;
}

.portfolio-controllers .filter-btn:hover {
    background: #00cccc;
    border: 1px solid #00cccc;
    color: #fff;
}


.portfolio-link li a i {
    background-color: transparent;
    /*border: 1px solid #00CCCC;*/
    color: #fff;
}

.portfolio-link li a:hover i {
    /*border-color: transparent;*/
}

.portfolio-link li a:hover i.fa-link,
.portfolio-link li a:hover i.fa-plus {
    background-color: #00cccc;
    color: #fff;
}

.portfolio-item-title {
    color: #fff;
}

.portfolio-item-title:after {
    background-color: transparent;
}

.caption-content {
    background-color: rgba(225, 225, 225, .7);
}



/*color css end*/


/*price part start*/

#price {
    padding: 70px 0px;
    background: #f5f5f5;
}

.price_text h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 34px;
    position: relative;
}

.price_text:after {
    position: absolute;
    content: '';
    width: 60px;
    height: 3px;
    background: #00cccc;
    top: 48px;
    left: 16px;
}

.price_text p {
    font-size: 14px;
    padding-bottom: 15px;
}

.card_my_body {
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background: #fefefe;
    box-shadow: 0px 5px 90px 0px rgb(110 123 131 / 10%);
}

.card_my_body h5 {
    font-weight: 700;
    padding: 15px;
}

.card_my_body h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 41px;
    font-weight: 500;
    color: #00cccc;
}

.card_my_body h2 sup {
    font-size: 18px;
    margin-right: 5px;
    color: #00cccc;
    top: -23px;
    margin: 38px 0px;
    display: inline-block;
}



.span_text {
    font-family: roboto light;
    font-size: 14px;
}

.card_my_body p {
    font-size: 14px;
    line-height: 140%;
}

.card_my_body h6 {
    line-height: 140%;
    font-size: 14px;
    text-decoration: line-through;
    color: #c3c3c3;
}

.card_my_body a {
    display: inline-block;
    color: #00cccc;
    padding: 15px 25px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.5s ease;
    border: 3px solid #00cccc;
    padding: 8px 28px;
    border-radius: 50px;
    margin-top: 39px;
}

.card_my_body a:hover {
    box-shadow: 0px 0px 3px #00cccc;
    background: #00cccc;
    border: 1px solid #00cccc;
    color: #fff;
}

.card_my_body h4 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 13px;
    padding: 3px 25px 6px 25px;
    background: #edfbf0;
    color: #009961;
    border-radius: 50px;
}






/*price part end*/



/*Questions part start*/

.card_border {
    margin-bottom: 15px;
    border: none;
}

.question_left {
    background: #fff;
    padding: 40px 120px;
}

.question_hedar p {
    font-size: 16px;
    font-family: roboto ligh;
}


.qution_img_right {
    background: url(../img/qutions.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: right;
}

.qution_icon {
    padding-left: 276px;
    color: #000;
}

.my_question {
    margin-bottom: 10px;
    border: none;
    background: #fff;
    box-shadow: 0px 0px 2px 0px #e6dfdf;
}

/*Questions part end*/



/*contact section start*/

#contact {
    padding: 70px 0px;
}



.contact_heder h2 {
    font-size: 32px;
    font-weight: bold;
    position: relative;
}




.contact_heder h2:after {
    content: '';
    position: absolute;
    top: 50px;
    left: 0px;
    width: 50px;
    height: 3px;
    background: #00cccc;

}

.contact_heder p {
    font-size: 14px;
    padding: 20px 0px;
}



/*contact section end*/

/*contact form section start*/

#contact {
    padding: 40px 0px;
}

.address,
.Eamil {
    margin-bottom: 42px;
}

.address i {
    font-size: 30px;
    position: absolute;
    color: #00cccc;
}

.address h4 {
    padding: 0 0 0 50px;
    font-weight: bold;
}

.address p {
    padding: 0 0 0 50px;
}

.Eamil i {
    font-size: 30px;
    position: absolute;
    color: #00cccc;
}

.Eamil h4 {
    padding: 0 0 0 50px;
    font-weight: bold;
}

.Eamil p {
    padding: 0 0 0 50px;
}

.Call i {
    font-size: 30px;
    position: absolute;
    color: #00cccc;
}

.Call h4 {
    padding: 0 0 0 50px;
    font-weight: bold;
}

.Call p {
    padding: 0 0 0 50px;
}

.my_control_form_1 {
    width: 98%;
    margin-bottom: 20px;
}

.my_control_form_2 {
    width: 97%;
    margin-left: 9px;
    position: relative;
}


.my_control_form_3 {
    margin-bottom: 20px;
}




.contact_btn a {
    border: 2px solid #00cccc;
    background: #00cccc;
    display: inline-block;
    padding: 8px 25px;
    margin-top: 20px;
    border-radius: 39px;
    color: #fff;
    transition: all 0.5s ease;
}

.contact_btn a:hover {
    background: #09a8a8;
    border: 2px solid #00cccc;
    color: #fff;
}


/*contact form section end*/


/*footer part start*/

#footer {
    background: #000;
    padding: 40px 0px;
}

.footer_part {
    position: relative;
    z-index: 99;
}

.footer_part p {
    font-size: 14px;
    font-style: italic;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer_icon ul {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 38px;
    display: block;
    margin-bottom: 62px;
}

.footer_icon ul li {
    display: inline-block;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #00cccc;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer_icon ul li:hover {
    background: #09a8a8;
    color: #fff;
}

.footer_icon ul li a {
    color: #fff;
    font-size: 22px;

}

.footer_text_btm p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 87%;
}

/*footer part end*/
